.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  overflow: auto;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.categoryContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  /* border-bottom: 1px solid var(--border-color); */
  background-color: var(--background-color);
  width: 100%;
  height: 65px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.categoryContainer::after {
  height: 31px;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -12px;
  background-color: var(--background-color);
  transition: inherit;
  transform: translateZ(0);
  filter: blur(8px);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  margin: 65px 0 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layoutContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .contentContainer {
    box-sizing: border-box;
    padding: 0 15px;
  }
}

@media (max-width: 525px) {
  .container {
    flex-direction: column;
    width: 100vw;
    height: 100%;
    font-size: 1.125rem;
  }

  .categoryContainer {
    flex-direction: column;
    top: -1px;
    border-bottom: none;
    height: auto;
  }

  .categoryContainer::after {
    height: 30px;
    bottom: -18px;
  }

  .contentContainer {
    z-index: 1;
    margin: 30px 0 0 0;
    border-left: none;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .contentContainer::-webkit-scrollbar {
    display: none;
  }
}
