.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 0 30px 0;
  width: 100%;
}

.artistImageContainer {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
}

.artistImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.artistName {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 500;
  margin: 10px 0 0 0;
}

@media (max-width: 525px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 30px 0;
    width: 100%;
  }

  .artistImageContainer {
    width: 130px;
    height: 130px;
  }
}
