.albumArtWrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 300px;
  aspect-ratio: 1 / 1;
  margin: 0 100px 0 0;
  line-height: 200%;
  position: relative;
  overflow: hidden;
}

.albumArt {
  width: 100%;
  height: 100%;
}

.albumArt {
  transition: transform 0.2s ease-in-out;
}

.albumArt:hover {
  transform: scale(1.1);
}

.albumArt:not(:hover) {
  transform: scale(1);
}

.albumMetadataContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1050px;
  text-align: justify;
  line-height: 210%;
  word-break: normal;
}

.textContainer {
  position: relative;
  width: 100%;
}

.albumTitle {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.starContainer {
  display: flex;
  position: relative;
  align-items: center;
  margin: 2px 0 0 10px;
}

.coloredStar {
  display: absolute;
  z-index: 2;
  width: 100px;
  height: 20px;
}

.monoStar {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 20px;
}

.metadataPreview {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
  font-size: 1rem;
}

.artistImageContainer {
  margin: 0 10px 0 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  inset-inline-start: 0px;
  user-select: auto;
}

.artistImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.text {
  margin: 0;
}

.blurEnd {
  display: -webkit-box;
  overflow: hidden;
  text-align: justify;
  word-break: normal;
  --lines-count: 3;
  --blur-height: 40px;
  --blur-length: 5px;
  --fade-length: 5;
  --fade-direction: 270deg;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines-count);
  mask: linear-gradient(
      0deg,
      transparent,
      transparent var(--blur-height),
      var(--background-color) var(--blur-height)
    ),
    linear-gradient(
      270deg,
      transparent,
      transparent calc((var(--blur-length) * var(--fade-length)) + var(--blur-height)),
      var(--background-color)
        calc((var(--blur-length) * var(--fade-length)) + (var(--blur-height) * 2))
    );
}

.moreButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 200;
  cursor: pointer;
  color: var(--textColor);
  font-size: 1.2rem;
  font-weight: 450;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 13px 0 0 0;
}

.tagItem {
  display: flex;
  align-items: center;
  margin: 0 3px 3px 0;
  background-color: #ffffff1a;
  cursor: pointer;
  padding: 7px 11px;
  width: fit-content;
  height: 20px;
  line-height: 250%;
  word-break: normal;
  color: var(--textColor);
  font-size: 0.95rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}

@media (max-width: 800px) {
  .albumArtWrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
    width: 100%;
    height: 100%;
  }

  .albumArt {
    width: 100%;
    height: 100%;
  }

  .albumMetadataContainer {
    box-sizing: border-box;
    padding: 0;
    height: fit-content;
    line-height: 200%;
  }

  .albumTitle {
    justify-content: center;
  }

  .metadataPreview {
    justify-content: center;
  }
}

@media (max-width: 525px) {
  .albumArtWrapper {
    width: 280px;
    height: 280px;
  }

  .albumArt {
    width: 280px;
    height: 280px;
  }

  .albumTitle {
    padding: 0;
  }

  .starContainer {
    display: none;
  }

  .artistImageContainer {
    width: 25px;
    height: 25px;
  }

  .text {
    text-align: justify;
    word-break: normal;
  }

  .blurEnd {
    --lines-count: 3;
    --fade-length: 5;
    --blur-height: 40px;
    --blur-length: 5px;
  }

  .moreButton {
    bottom: 0.5px;
    margin: 0 15px 0 0;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .buttonContainer {
    justify-content: center;
  }
}
