.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: 100%;
  max-width: 880px;
  height: calc(100vh - 100px);
  row-gap: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 50px;
  border: 1px solid var(--border-color);
  max-width: 320px;
  line-height: 160%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
  row-gap: 10px;
}

.item {
  display: flex;
  align-items: center;
}

.label {
  min-width: 90px;
}

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--input-background-color);
  border: 1px solid var(--text-color);
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid var(--text-color);
  margin: 40px 0 0 0;
  transition: background-color 0.3s;
}

.button:hover {
  color: #000;
  font-weight: bold;
  border-radius: 0;
  background-color: var(--text-color);
}

@media (max-width: 525px) {
  .container {
    max-width: 100%;
  }

  .formContainer {
    padding: 20px;
    max-width: 100%;
  }

  .buttonContainer {
    margin: 0;
  }

  .button {
    margin: 30px 0 0 0;
  }

  .input {
    padding: 10px;
    font-size: 1.125rem;
  }
}
