/* Fonts */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Thin.ttf");
  font-style: normal;
  font-weight: 200;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.ttf");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Black.ttf");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

/* Root Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #000;
  --text-color: #ababab;
  --text-hover-color: #949494;
  --border-color: #2c2c2c;
  --input-background-color: #111;
  --scrollbar-thumb-color: #191919;
  --scrollbar-track-color: #111111;
  --calendar-text-color: #999;
  --tag-background-color: #1a1a1a;
}

/* Global Resets */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

body,
input,
textarea {
  font-family: "Lato", "Pretendard Variable", Pretendard, sans-serif;
}

/* Selection Styles */
p::selection,
div::selection,
span::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection {
  color: #242424;
  background-color: var(--text-color);
}

/* Input Styles */
input:focus {
  outline: 1px solid #006bde;
}

input {
  color: var(--text-color);
  caret-color: #fff;
  border: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  background: #000;
  cursor: pointer;
}

/* Link Styles */
a {
  color: var(--text-color);
  text-decoration: none;
}

/* Headings and Lists */
h1,
h2,
h3 {
  margin: 0;
  text-align: left;
}

ul,
li {
  margin: 0;
}

/* Button Styles */
button {
  padding: 0;
  margin: 0;
  text-align: unset;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--text-color);
  box-sizing: unset;
  font-size: inherit;
  font-family: inherit;
}

/* Blockquote Styles */

blockquote {
  font-style: italic;
  border-left: 7px solid var(--border-color);
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 11px; /* 세로축 스크롤바 폭 너비 */
  height: 20px; /* 가로축 스크롤바 폭 너비 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color); /* 스크롤바 막대 색상 */
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color); /* 스크롤바 뒷 배경 색상 */
}

/* react-calendar 관련 스타일 */

.react-calendar {
  padding: 10px;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
}

.react-calendar__tile {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: auto;
}

.react-calendar__navigation {
  padding: 0 50px;
  box-sizing: border-box;
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  color: var(--calendar-text-color);
}

.react-calendar__navigation__label {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  flex-grow: 0 !important;
  margin: 0 30px;
  cursor: default;
}

.react-calendar__navigation__arrow {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 15px 20px 20px 20px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important;
}

abbr[title] {
  text-decoration: none;
}

/* 이전/다음 달 날짜 표시 안 함 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--tag-background-color) !important;
}

@media (max-width: 800px) {
  .react-calendar__navigation {
    padding: 0 40px;
  }

  .react-calendar__navigation__label {
    font-size: 1.5rem;
    margin: 0 30px;
  }

  .react-calendar__navigation__arrow {
    font-size: 2rem;
  }
}

@media (max-width: 525px) {
  .react-calendar__navigation {
    padding: 0;
  }

  .react-calendar__navigation__label {
    font-size: 1.2rem;
  }

  .react-calendar__navigation__arrow {
    font-size: 1.8rem;
    padding: 3px 20px 7px 20px;
  }
}
