.container {
  display: flex;
  position: absolute;
  top: calc(50% + 1px);
  left: 12px;
  justify-content: center;
  transform: translate(0, -50%);
  z-index: 100;
  cursor: pointer;
  width: 24px;
  height: 23px;
}

.hamburgerIcon {
  margin: 3px 0 0 0;
  box-shadow:
    0 7px 0 var(--text-color),
    0 14px 0 var(--text-color);
  background-color: var(--text-color);
  width: 20px;
  height: 1px;
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 4px 4px;
  font-size: 2rem;
  font-weight: 100;
}

.closeText {
  font-weight: 100;
  margin: 1px 0 0 0;
}

.category {
  display: flex;
  position: fixed;
  top: 43px;
  left: -26px;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  background-color: var(--background-color);
  cursor: default;
  padding: 5px 20px 20px 30px;
  width: 120px;
  height: fit-content;
  font-size: 1.1rem;
  z-index: 1000000;
}

.categoryTitle,
.categoryItem {
  list-style-type: none;
}

.categoryTitle {
  z-index: 3;
  padding: 7px 0;
  font-weight: 600;
  font-style: italic;
}

.categoryItem {
  z-index: 3;
  cursor: pointer;
  padding: 7px 30px 7px 0;
  transition: transform 0.3s ease;
}

/* .categoryItem:hover {
  text-decoration: underline;
} */

.categoryItem::before {
  content: "";
  position: absolute;
  left: -23px;
  top: 6px;
  opacity: 0;
  transform: translateX(-5px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.categoryItem.hovered::before {
  content: "→";
  opacity: 1;
  transform: translateX(0);
}

.categoryItem.hovered {
  transform: translateX(10px); /* 텍스트 이동 */
}

.adminCategory {
  display: flex;
  position: absolute;
  top: 42.5px;
  left: 145px;
  flex-direction: column;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  cursor: default;
  padding: 5px 20px 20px 30px;
  width: 150px;
  height: fit-content;
  font-size: 1.1rem;
}

@media (max-width: 1300px) {
  .container {
    left: 27px;
  }
}

@media (max-width: 525px) {
  .container {
    left: 15px;
  }

  .hamburgerIcon {
    margin: 3px 0 0 0;
    box-shadow:
      0 7px 0 var(--text-color),
      0 14px 0 var(--text-color);
    background-color: var(--text-color);
    width: 20px;
    height: 1px;
  }

  .closeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px 4px 0;
    font-size: 2.2rem;
    font-weight: 100;
  }

  .category {
    top: 32.5px;
    left: -16px;
    border-left: none;
    padding: 5px 10px 20px 20px;
    width: 125px;
    font-size: 1.05rem;
  }

  .categoryItem {
    z-index: 3;
  }

  .adminCategory {
    top: 32.5px;
    left: 139px;
    padding: 5px 20px 20px 15px;
    width: 125px;
    font-size: 1.05rem;
  }
}
