.container {
  display: none;
}

@media (max-width: 525px) {
  .container {
    width: calc(100vw);
    height: calc(100vh - 42.5px);
    display: flex;
    position: absolute;
    top: 33px;
    left: -15px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
  }
}
