.container {
  display: flex;
  flex-direction: column;
}

.commentContainer {
  display: flex;
  max-width: 100%;
  column-gap: 15px;
  padding: 10px;
}

.replyBackground {
  display: flex;
  column-gap: 15px;
  width: 100%;
  background-color: var(--reply-container-color);
  padding: 20px;
  margin-left: 60px;
  box-sizing: border-box;
}

.userImageWrapper {
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  background-color: var(--input-background-color);
  border: 1px solid var(--text-color);
  padding: 10px 15px;
  box-sizing: border-box;
  row-gap: 10px;
}

.textareaWrapper {
  display: flex;
  width: 100%;
  font-size: 1.05rem;
  line-height: 200%;
}

.detailWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 0.95rem;
  color: var(--third-text-color);
  line-height: 100%;
}

.likeReplyWrapper {
  justify-content: flex-end;
}

.rightContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.replyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-sizing: border-box;
}

.commentCount {
  display: flex;
  justify-content: flex-end;
  font-size: 0.95rem;
  color: var(--third-text-color);
  line-height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.commentRightDetailWrapper {
  position: relative;
}

.button {
  color: var(--third-text-color);
}

.commentUserId {
  color: var(--third-text-color);
  margin: 0 5px 0 0;
}
