.container {
  width: calc(100% - 30px);
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  padding: 0 0 50px 0;
}

.arrowLeft {
  margin: 0 0 0 -6px;
  padding: 5px 0;
}

.month {
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 10px 0;
}

.dateGroupContainer {
  display: flex;
  scroll-margin: 80px;
  margin: 20px 0;
}

.dateGroup {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.dateHeaderWrapper {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  row-gap: 7px;
}

.dateToNumber {
  font-size: 1.35rem;
  font-weight: 600;
}

.dataCountByDate {
  font-size: 0.95rem;
}

@media (max-width: 525px) {
  .container {
    padding: 0 0 30px 0;
  }

  .dateGroupContainer {
    display: flex;
    scroll-margin: 40px;
  }

  .dateGroup {
    flex-grow: 1;
    justify-content: space-evenly;
    row-gap: 30px;
    column-gap: 0;
  }

  .dateHeaderWrapper {
    display: flex;
    flex-direction: column;
    min-width: 55px;
    row-gap: 7px;
  }

  .dataCountByDate {
    font-size: 0.9rem;
  }
}
