.albumInfoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.albumArtWrapper {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 160px;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ellipsis {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.05rem;
}

.starContainer {
  display: flex;
  position: relative;
  align-items: center;
  margin: 3px 0 0 0;
}

.coloredStar {
  display: absolute;
  z-index: 2;
  width: 80px;
  height: 16px;
}

.monoStar {
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 16px;
}

@media (max-width: 525px) {
  .albumArtWrapper {
    width: 130px;
    height: 130px;
  }

  .ellipsis {
    width: 130px;
    font-size: 1rem;
  }

  .starContainer {
    display: none;
  }
}
