.container {
  width: calc(100% - 30px);
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.arrowLeft {
  margin: 0 0 0 -6px;
  padding: 5px 0;
}

.month {
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 10px 0;
}

.dateGroupContainer {
  display: flex;
  padding: 30px 0;
  scroll-margin: 50px;
}

.dateGroup {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

.dateGroupTitle {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  margin: 0 50px 0 0;
  row-gap: 7px;
}

.dateToNumber {
  font-size: 1.35rem;
  font-weight: 600;
}

.albumArtWrapper {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 170px;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
}

.albumInfoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 0 0 30px 0;
}

.ellipsis {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.05rem;
}

.dataCountByDate {
  font-size: 0.95rem;
}

.starContainer {
  display: flex;
  position: relative;
  align-items: center;
  margin: 3px 0 0 0;
}

.coloredStar {
  display: absolute;
  z-index: 2;
  width: 80px;
  height: 16px;
}

.monoStar {
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 16px;
}

@media (max-width: 525px) {
  .starContainer {
    display: none;
  }
}
