.container {
  width: calc(100% - 30px);
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.arrowLeft {
  margin: 0 0 0 -6px;
  padding: 5px 0;
}

.month {
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 10px 0;
}
