.container,
.tile {
  color: var(--calendar-text-color);
}

.container {
  width: calc(100% - 30px);
  height: 100%;
  max-width: 100%;
  /* background: white; */
  background-color: var(--tag-background-color);
  line-height: 1.125em;
  margin: 20px 0 0 0;
  box-sizing: border-box;
  position: relative;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.date-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.event {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.event img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.today {
  color: var(--primary-color);
}

.todayButton {
  border: 1px solid var(--text-color);
  padding: 5px 15px;
  position: absolute;
  top: 40px;
  right: 30px;
}

.totalContents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  z-index: 5;
  color: var(--text-color);
  background-color: var(--tag-background-color);
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 100%;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 525px) {
  .totalContents {
    width: 15px;
    height: 15px;
    font-weight: 600;
    font-size: 0.7rem;
    top: 1.5px;
    right: 1.5px;
  }
}
