.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 330px;
  height: calc(100% - 100px);
  line-height: 200%;
  padding: 20px 30px 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.albumImageContainer {
  position: relative;
  width: 100%;
}

.albumImage {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.albumImage::after {
  display: block;
  content: "";
}

.metadataContainer {
  margin: 10px 0 0 0;
  line-height: 160%;
}

.metadataTitle {
  margin: 15px 0 5px 0;
  font-weight: 600;
}

.blackMasking {
  z-index: 2;
  background-color: var(--background-color);
  text-indent: 0;
  line-height: 155%;
  color: var(--text-color);
  font-weight: 400;
}

.linkIcon {
  position: absolute;
  margin: 6.5px 0 0 5px;
  height: 18px;
}

.appleIcon {
  position: absolute;
  margin: 6px 0 0 0;
  height: 20px;
}

.spotifyIcon {
  position: absolute;
  margin: 7px 0 0 29px;
  height: 20px;
}

.adminButtonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.streamingIconContainer {
  height: 30px;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: fit-content;
    position: unset;
  }

  .metadataContainer {
    width: 100%;
  }

  .linkIcon {
    position: absolute;
    margin: 6px 0 0 4px;
    height: 16px;
  }
}

@media (max-width: 525px) {
  .metadataContainer {
    z-index: 1;
    width: 100%;
    font-size: 1.05rem;
    margin: 0;
  }

  .metadataTitle {
    font-size: 1.05rem;
  }

  .adminButtonContainer {
    justify-content: center;
  }
}
