.container {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 0;
  width: 300px;
  line-height: 200%;
}

.albumImageContainer {
  position: relative;
  width: 300px;
  height: 300px;
}

.albumImage {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.albumImage::after {
  display: block;
  content: "";
}

.metadataContainer {
  margin: 10px 0 0 0;
  line-height: 160%;
}

.metadataTitle {
  margin: 15px 0 5px 0;
  font-weight: 600;
}

.blackMasking {
  z-index: 2;
  background-color: var(--background-color);
  text-indent: 0;
  line-height: 155%;
  color: var(--text-color);
  font-weight: 400;
}

.linkIcon {
  position: absolute;
  margin: 6.5px 0 0 5px;
  height: 18px;
}

.appleIcon {
  position: absolute;
  margin: 6px 0 0 0;
  height: 20px;
}

.spotifyIcon {
  position: absolute;
  margin: 7px 0 0 29px;
  height: 20px;
}

.adminButtonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.streamingIconContainer {
  height: 30px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
    height: fit-content;
  }

  .metadataContainer {
    max-width: 400px;
  }

  .linkIcon {
    position: absolute;
    margin: 6px 0 0 4px;
    height: 16px;
  }
}

@media (max-width: 525px) {
  .albumImageContainer {
    width: 100%;
    height: 100%;
  }

  .metadataContainer {
    z-index: 1;
    width: 100%;
    font-size: 1.05rem;
  }

  .metadataTitle {
    font-size: 1.05rem;
  }

  .adminButtonContainer {
    justify-content: center;
  }
}
