.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 920px;
  height: calc(100% - 100px);
  text-align: justify;
  line-height: 210%;
  word-break: normal;
  padding: 10px 30px 30px 30px;
  margin: 0px 0px 0px 330px;
  overflow: hidden auto;
  box-sizing: border-box;
}

/* 
-ms-overflow-style: none; 
scrollbar-width: none; 
.container::-webkit-scrollbar {
  display: none; 
} 
*/

.title {
  font-weight: 700;
  margin: 0 0 30px 0;
  font-size: 2.5rem;
  line-height: 140%;
}

.paragraph {
  margin: 0;
}

.paragraph:first-child {
  text-indent: 0;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}

.tagItem {
  display: flex;
  align-items: center;
  margin: 0 3px 3px 0;
  background-color: #ffffff1a;
  cursor: pointer;
  padding: 7px 11px;
  width: fit-content;
  height: 20px;
  line-height: 250%;
  word-break: normal;
  color: var(--text-color);
  font-size: 0.95rem;
}

.postDivider {
  margin: 50px 0 50px 0;
  background-color: var(--border-color);
  width: 100%;
  /* height: 1px; */
  padding: 0 0 1px 0;
}

.postDate {
  font-weight: 600;
}

.viewerWrapper {
  width: 100%;
  position: relative;
  color: var(--text-color);
}

.viewerWrapper img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.viewerWrapper div {
  font-size: 1.2rem;
}

.viewerWrapper p {
  margin: 0 0 40px 0;
}

.viewerWrapper blockquote {
  margin: 35px 0 35px 35px;
  padding: 0 0 0 15px;
}

.postDateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .container {
    max-width: calc(100% - 390px);
  }
}

@media (max-width: 800px) {
  .container {
    position: unset;
    text-align: left;
    word-break: keep-all;
    max-width: 100%;
    height: auto;
    text-align: justify;
    line-height: 210%;
    word-break: normal;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box;
  }
}

/* @media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
    height: fit-content;
  }

  .metadataContainer {
    max-width: 400px;
  }

  .linkIcon {
    position: absolute;
    margin: 6px 0 0 4px;
    height: 16px;
  }
} */

@media (max-width: 525px) {
  .container {
    text-align: left;
    word-break: keep-all;
  }

  .postDateContainer {
    font-size: 1.05rem;
  }

  .postDate {
    font-size: 1.05rem;
  }
}
