.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  font-size: 0.92rem;
}

.tag {
  height: 20px;
  padding: 7px 10px;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  word-break: normal;
  color: var(--text-color);
}

.clickedTag {
  inset: 0 0 0 1px var(--text-color);
}

@media (max-width: 525px) {
  .container {
    display: none;
  }

  .tag {
    display: none;
  }
}
