.searchInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0 30px 0;
}

.searchPageInputContainer {
  position: relative;
  width: 480px;
  height: 60px;
}

.searchPageInput {
  box-sizing: border-box;
  margin: 1px 0 0 0;
  border: 1px solid var(--text-color);
  box-shadow: none;
  background-color: var(--input-background-color);
  padding: 0 40px 0 50px;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  font-size: 1.3rem;
}

.searchPageInputIcon {
  position: absolute;
  top: calc(50% + 1px);
  left: 30px;
  transform: translate(-50%, -50%);
}

.searchResultContainer {
  display: flex;
  justify-content: center;
  padding: 30px 0 40px 0;
  text-align: center;
  font-style: italic;
}

.searchTagContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 850px;
}

.searchTagDisplayItem {
  display: flex;
  align-items: center;
  margin: 3px;
  background-color: #ffffff1a;
  cursor: pointer;
  padding: 7px 10px;
  width: fit-content;
  height: 20px;
  word-break: normal;
  color: var(--text-color);
  font-size: 0.92rem;
}

@media (max-width: 900px) {
  .searchInputContainer {
    margin: 0 30px;
  }

  .searchPageInputContainer {
    width: 100%;
    max-width: 480px;
    height: 60px;
  }

  .searchPageInput {
    box-sizing: border-box;
    margin: 1px 0 0 0;
    border: 1px solid var(--text-color);
    border-radius: 0;
    box-shadow: none;
    background-color: var(--input-background-color);
    padding: 0 40px 0 50px;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
  }

  .searchPageInputIcon {
    position: absolute;
    top: calc(50% + 1px);
    left: 30px;
    transform: translate(-50%, -50%);
  }

  .searchTagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 850px;
  }
}

@media (max-width: 525px) {
  .searchInputContainer {
    padding: 20px 0 0 0;
    width: 100%;
  }

  .searchPageInputContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
  }

  .searchPageInput {
    box-sizing: border-box;
    margin: 0 15px;
    padding: 0 30px 0 40px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .searchPageInputIcon {
    top: calc(50% - 4px);
    left: 37px;
    transform: translate(-50%, -50%);
  }

  .searchResultContainer {
    padding: 15px 0 0 0;
    font-size: 1.05rem;
  }

  .searchTagContainer {
    display: none;
  }

  .searchTagDisplayItem {
    display: none;
  }
}
