.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0 30px 0;
}

.inputContainer {
  position: relative;
  width: 480px;
  height: 60px;
}

.searchInput {
  box-sizing: border-box;
  margin: 1px 0 0 0;
  border: 1px solid var(--text-color);
  box-shadow: none;
  background-color: var(--input-background-color);
  padding: 0 40px 0 50px;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  font-size: 1.3rem;
  border-radius: 0;
}

.magnifyingGlass {
  position: absolute;
  top: calc(50% + 1px);
  left: 30px;
  transform: translate(-50%, -50%);
}

.searchResultText {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
  text-align: center;
  font-style: italic;
}

@media (max-width: 900px) {
  .inputContainer {
    width: 100%;
    max-width: 480px;
    height: 60px;
  }
}

@media (max-width: 525px) {
  .container {
    padding: 35px 0 0 0;
    width: 100%;
  }

  .inputContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
  }

  .searchInput {
    box-sizing: border-box;
    margin: 0 15px;
    padding: 0 30px 0 40px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .magnifyingGlass {
    top: calc(50% - 4px);
    left: 37px;
    transform: translate(-50%, -50%);
  }

  .searchResultText {
    font-size: 1.05rem;
    padding: 0;
  }

  .searchTagDisplayItem {
    display: none;
  }
}
