.searchTagContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 90%;
}

.searchTagDisplayItem {
  display: flex;
  align-items: center;
  margin: 3px;
  background-color: #ffffff1a;
  cursor: pointer;
  padding: 7px 10px;
  width: fit-content;
  height: 20px;
  word-break: normal;
  color: var(--text-color);
  font-size: 0.92rem;
}

@media (max-width: 525px) {
  .searchTagContainer {
    display: none;
  }

  .searchTagDisplayItem {
    display: none;
  }
}
