.tagModalContainer {
  width: 880px;
  position: absolute;
  display: flex;
  background-color: var(--input-background-color);
  padding: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  flex-direction: row;
  flex-wrap: wrap;
  top: calc(100% + 1px);
  left: -1px;
  box-sizing: border-box;
}

.tagModal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tagBlockTitle {
  font-size: 1.05rem;
  margin: 0 0 5px 3px;
  font-weight: 500;
}

.tagBlockItemContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}

.tagItem {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 250%;
  height: 22px;
  background-color: #ffffff1a;
  border-radius: 20px;
  padding: 7px 11px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
}

.tagItem:hover {
  background-color: black;
}

.tagDeleteButton {
  background-color: unset;
  margin-left: 5px;
  padding: 0 1px 2px 0;
  font-size: 1.1rem;
}
