.blockContainer {
  width: 100%;
  padding: 35px 0;
  border-bottom: 1px dashed var(--border-color);
}

.blockTitle {
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin: 0 0 20px 0;
}

.tagListContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  min-height: 40px;
  max-width: 880px;
  height: auto;
  background-color: var(--input-background-color);
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border: 1px solid var(--text-color);
  box-sizing: border-box;
}

.tagItemContainer {
  display: flex;
  flex-direction: column;
}

.tagItem,
.tagItemInput {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 250%;
  height: 22px;
  background-color: #ffffff1a;
  border-radius: 20px;
  padding: 7px 11px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
}

.tagItemInput {
  min-width: 200px;
}
